*.studies\pilot A\data\Aperol_pilot_01_01_data_export.xlsx

~$todo_neu.xlsx
studies/pilot A/plots/.Rhistory
paper_1/.Rhistory
todo.xlsx

studies/pilot A/plots/.Rhistory
studies/2020_Aperol_Git/questionnaire data/.Rhistory
paper_1/.Rhistory
paper_1/.Rhistory
paper_1/.Rhistory
